@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

.newspaper-container  {
    width: 100%;
    border-radius:25px;
    box-shadow: 1px 1px #ddd;
    align-content: center;
    background-color: white;
    box-sizing: border-box;
}


li {
    display: inline-block;
    list-style-type: none;
   padding: 10px;
   
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjovoSmYmRjRdE.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
   
}

.date {
    font-family: 'Source Sans Pro';
    font-style: normal;
    color: rgb(102, 102, 102);
    margin-left: 20px;
    padding-top: 20px;
    font-weight: 200;

}
header > h1 {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    text-align: center;
    font-size: 50px;


}

a{
    color: #777;
    text-decoration: none;
    
}
h2 {
    font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
}

h4 {
    font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;

}

h5 {
    color: rgb(228, 48, 48);
    font-family: 'Abril Fatface';
}

.image1 {
    width: 50%;
}
      


    /*
    background-color: #eee;
    width: 1000px;
       border-radius:25px;
       box-shadow: 1px 1px #ddd;
       align-content: center;
}*/

section{
     display:inline-block;
    width: 50%;
    margin-left: auto;
    width: 50%;
    
}   

.more-articles section {
    display: inline-block;
    width: 44%;
    margin: 0 1em;
}

p {
    text-align:left ;
    font-family: 'Source Sans Pro';
}

main > p {
    color: #dd3232
}

.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  body {
    background: #eee;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-weight: 200;
  }

.more-articles-2 {
    display: flex;
    justify-content: space-between;
    position: relative;
}


  .more-articles-2 section{
    display: inline-block;
    width: 44%;
    margin: 0 1em;
    
}


nav {
    text-align: center;
    
    top: 0;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flexbox;
    position: absolute;
    width: 100%;
  }
  footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }